<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QQ音乐歌单分析</title>
    <style>
        body {
            text-align: center;
            margin-top: 10%;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <form action="/" method="POST">
        <div>
            歌单ID: <input id="song_list_id" name="song_list_id" type="number" value="">
            <input type="submit" value="提交"><br>
            <br>
            点击提交后，请耐心等待2-3分钟。加载时间随歌单长度不同而不同。<br>
            <br>
            如何获取歌单ID？<br>
            <table><tr>
            	<td><img src=data/01.jpg border=0 width="75%"></td>
            	<td><img src=data/02.jpg border=0 width="75%"></td>
            	<td><img src=data/03.jpg border=0 width="75%"></td>
            	<td><img src=data/04.jpg border=0 width="75%"></td>
            </tr></table>
        </div>  
    </form> 
</body>
</html>